/*estilos para section principal*/
#portada_section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
#title_main {
  font-size: 1.6rem;
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: 20%;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: #ffffff;
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
  -webkit-transition: transform 0.8s, opacity 0.8s;
  -moz-transition: transform 0.8s, opacity 0.8s;
  -ms-transition: transform 0.8s, opacity 0.8s;
  -o-transition: transform 0.8s, opacity 0.8s;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
}
#portada_section:hover #title_main {
  opacity: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#portada_section picture {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  margin: auto;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
#portada_section picture:after {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-140%, 50%);
  background-color: rgba(136, 14, 79, 0.3);
  border-radius: 50%;
  transition: all 0.8s ease;
  -webkit-transform: translate(-140%, 50%);
  -moz-transform: translate(-140%, 50%);
  -ms-transform: translate(-140%, 50%);
  -o-transform: translate(-140%, 50%);
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}
#portada_section:hover picture:after {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#portada_section img {
  position: absolute;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#portada_section:hover img {
  filter: blur(5px);
  transform: translate(-50%, -50%) scale(1.3);
  -webkit-transform: translate(-50%, -50%) scale(1.3);
  -moz-transform: translate(-50%, -50%) scale(1.3);
  -ms-transform: translate(-50%, -50%) scale(1.3);
  -o-transform: translate(-50%, -50%) scale(1.3);
  -webkit-filter: blur(5px);
}

/*estilos para section tarjetas*/
#card_section {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 2rem 0;
  padding: 1rem;
  place-items: center;
  overflow: hidden;
}
#title_section {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
}
#card_section .card_product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 58vh;
  background: #232323;
  overflow: hidden;
  border-radius: 1rem;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
#card_section .card_product:hover {
  width: 25vw;
  height: 65vh;
  cursor: pointer;
  transition-delay: 0.1s;
}
.card_product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #800020;
  clip-path: circle(8rem at 80% 20%);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.card_product:hover::before {
  clip-path: circle(13rem at 80% -20%);
}
#card_section .card_product h3 {
  position: absolute;
  top: 1rem;
  font-size: 1rem;
  color: #ffffff;
  z-index: 1;
}
.card_product picture {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 25%;
  height: 30%;
  z-index: 1;
  transform: translateY(-60%);
  transition: 0.1s;
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -o-transform: translateY(-60%);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.card_product:hover picture {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.card_product img {
  position: absolute;
  top: 60%;
  width: 100%;
  height: auto;
  object-fit: cover;
  background: none;
  transform: translate(-50%, -50%) rotate(25deg);
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%) rotate(25deg);
  -moz-transform: translate(-50%, -50%) rotate(25deg);
  -ms-transform: translate(-50%, -50%) rotate(25deg);
  -o-transform: translate(-50%, -50%) rotate(25deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.card_product:hover img {
  width: 70%;
  transform: translate(-45%, -90%) rotate(-45deg);
  -webkit-transform: translate(-45%, -90%) rotate(-45deg);
  -moz-transform: translate(-45%, -90%) rotate(-45deg);
  -ms-transform: translate(-45%, -90%) rotate(-45deg);
  -o-transform: translate(-45%, -90%) rotate(-45deg);
}
.card_product .description {
  position: relative;
  top: -4%;
  text-align: center;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.card_product:hover .description {
  visibility: visible;
  opacity: 1;
  transform: translateX(1%);
  transition-delay: 0.3s;
  -webkit-transform: translateX(1%);
  -moz-transform: translateX(1%);
  -ms-transform: translateX(1%);
  -o-transform: translateX(1%);
}
.card_product .content {
  position: absolute;
  top: 58%;
  font-size: 1rem;
  color: #ffffff;
  z-index: 1;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.card_product .content:nth-child(5) {
  font-size: 1.2rem;
  font-weight: 600;
  top: 65%;
}
.card_product:hover .content {
  transition-delay: 0.5s;
}
.card_product .btn_amount_product {
  width: 100%;
  height: auto;
  bottom: 15%;
  padding: 5%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  color: #ffc107;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.card_product:hover .btn_amount_product {
  visibility: visible;
  opacity: 1;
  transform: translate(1%);
  -webkit-transform: translate(1%);
  -moz-transform: translate(1%);
  -ms-transform: translate(1%);
  -o-transform: translate(1%);
  transition-delay: 0.3s;
}
.btn_amount_product .amount_name {
  font-size: 1rem;
}
.btn_amount_product .btn_icon {
  background-color: transparent;
  border: none;
  padding: 1%;
  color: #ffffff;
  cursor: pointer;
}
.btn_amount_product .span_amount {
  font-size: 1rem;
  font-weight: 600;
}
.card_product #btn_add {
  position: absolute;
  height: 10%;
  width: 70%;
  bottom: 2rem;
  background-image: linear-gradient(180deg, #800020, #ffc107);
  color: #fff;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.card_product:hover #btn_add {
  height: 8%;
  margin-top: 10%;
  transition-delay: 0.3s;
}

@media screen and (max-width: 868px) {
  #card_section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%;
    height: 100%;
  }
  #card_section #title_section {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0 auto;
    padding: 0.5rem;
    z-index: 1;
  }
  #card_section .card_product {
    width: 40vw;
    height: 55vh;
    align-items: center;
    justify-content: center;
  }
  #card_section .card_product:hover {
    width: 40vw;
    height: 70vh;
  }
  .card_product .btn_amount_product {
    bottom: 5rem;
  }
  #card_section #btn_add {
    bottom: 2rem;
    height: 8%;
  }
}
@media screen and (max-width: 480px) {
  #portada_section {
    width: 90vw;
    height: 40vh;
    top: 1rem;
    margin: auto;
  }
  #title_main {
    position: absolute;
    font-size: 1rem;
    width: 80%;
    margin: 1rem;
    top: 45%;
  }
  #portada_section picture {
    width: 90vw;
    height: 40vh;
  }
  #card_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    place-items: center;
    overflow: hidden;
    width: auto;
    margin-left: 1rem;
  }
  #title_section {
    font-size: 1.2rem;
    text-align: left;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #card_section .card_product {
    grid-column: 1/2;
    grid-row: auto;
    width: 60vw;
  }
  #card_section:hover .card_product {
    width: 60vw;
  }
}
@media screen and (max-width: 420px) {
  #portada_section {
    width: 90%;
    height: auto;
    top: 1rem;
    margin: auto;
  }
  #title_main {
    position: absolute;
    font-size: 1rem;
    width: 80%;
    margin: 1rem;
    top: 45%;
  }
  #portada_section picture {
    width: 90vw;
    height: 40vh;
  }
  #card_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    place-items: center;
    overflow: hidden;
    width: auto;
    margin-left: 1rem;
  }
  #title_section {
    font-size: 1.2rem;
    text-align: left;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #card_section .card_product {
    grid-column: 1/2;
    grid-row: auto;
    width: 80vw;
  }
  #card_section:hover .card_product {
    width: 80vw;
  }
  .card_product:hover::before {
    clip-path: circle(13rem at 80% -10%);
  }
}
