* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161616;
}

.container {
  display: none;
}
.container.open {
  height: auto;
  width: 250px;
  position: absolute;
  background: #161616;
  z-index: 1;
  transition: 0.5s ease;
  transform: translateX(-300px);
  display: block;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

nav a {
  width: 70px;
  font-size: 20px;
  text-align: center;
  padding-left: 30px;
}

.container.menu {
  color: #fbfdce;
  font-size: 30px;
  font-weight: bold;
  padding: 31px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
.h1nav {
  background: linear-gradient(30deg, #df0155, rgba(136, 14, 79, 0.3));
  color: #fbfdce;
  font-size: 25px;
  font-weight: bold;
  padding: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
.continerA {
  color: #fbfdce;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  transition: 0.1s;
  overflow: hidden;
  text-transform: capitalize;
  width: 300px;
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}
nav a:hover {
  color: #00ff15;
  letter-spacing: 3px;
}
.Nav_input {
  appearance: none;
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

#check:checked ~ .container {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

nav.opciones {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.Logo {
  width: 80px;
  height: 80px;
  padding: 0;
  top: 1%;
  left: 0;
  border-radius: 100%;
  position: absolute;
  margin-left: 90%;
  align-self: center;
  border: 3px solid #ff0000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.Nav_Enlace {
  display: inline;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  width: 15%;
  margin-top: 0px;
  padding-top: 50px;
  padding-right: 10px;
}
.opciones a {
  color: #fbfdce;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.opciones a:hover {
  color: #00ff15;
  letter-spacing: 3px;
}
@media screen and (max-width: 720px) {
  .Nav_Enlace {
    width: 20%;
  }

  .opciones a {
    display: flex;
    flex-direction: row;
    width: 30%;
  }
  .opciones a:hover {
    color: #00ff15;
  }
}
@media screen and (max-width: 700px) {
  .Logo {
    margin-left: 87%;
  }
}
@media screen and (max-width: 580px) {
  .Logo {
    margin-left: 82%;
  }
  .Nav-Enlace {
    width: 20%;
  }
  .container .open {
    height: auto;
    width: 200px;
  }
}
@media screen and (max-width: 465px) {
  .Logo {
    margin-left: 77%;
  }

  nav.opciones {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    font-size: 12px;
  }
  .container.open {
    height: 50%;
    width: 200px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-300px);
    display: block;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
  }
}
