/*estilos para section principal*/
#portada_section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  width: auto;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
#title_main {
  font-size: 1.6rem;
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: 20%;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: #ffffff;
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
  -webkit-transition: transform 0.8s, opacity 0.8s;
  -moz-transition: transform 0.8s, opacity 0.8s;
  -ms-transition: transform 0.8s, opacity 0.8s;
  -o-transition: transform 0.8s, opacity 0.8s;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
}
#portada_section:hover #title_main {
  opacity: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#portada_section picture {
  position: relative;
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  margin: auto;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
#portada_section picture:after {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-140%, 50%);
  background-color: rgba(136, 14, 79, 0.3);
  border-radius: 50%;
  transition: all 0.8s ease;
  -webkit-transform: translate(-140%, 50%);
  -moz-transform: translate(-140%, 50%);
  -ms-transform: translate(-140%, 50%);
  -o-transform: translate(-140%, 50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
#portada_section:hover picture:after {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#portada_section img {
  position: absolute;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#portada_section:hover img {
  transform: translate(-50%, -50%) scale(1.3);
  filter: blur(5px);
  -webkit-transform: translate(-50%, -50%) scale(1.3);
  -moz-transform: translate(-50%, -50%) scale(1.3);
  -ms-transform: translate(-50%, -50%) scale(1.3);
  -o-transform: translate(-50%, -50%) scale(1.3);
  -webkit-filter: blur(5px);
}

/*estilos para section tarjetas*/
#card_section {
  width: auto;
  height: 100%;
  margin-left: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#card_section h2 {
  position: absolute;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
  color: #000000;
  text-align: center;
  z-index: 10000;
}
#card_section #card_sushi {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 55vh;
  margin-top: 4rem;
  margin-left: 1rem;
  background: #232323;
  overflow: hidden;
  border-radius: 1rem;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
#card_section #card_sushi:hover {
  position: relative;
  width: 20vw;
  height: 65vh;
}

#card_sushi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #800020;
  clip-path: circle(8rem at 80% 20%);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#card_sushi:hover::before {
  clip-path: circle(13rem at 80% -20%);
}
#card_section #card_sushi h2 {
  position: absolute;
  top: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  z-index: 1000;
}

#card_sushi picture {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 35%;
  height: 30%;
  transition: 1s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

#card_sushi:hover picture {
  transform: translateY(-80%);
  -webkit-transform: translateY(-80%);
  -moz-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  -o-transform: translateY(-80%);
}
#card_sushi img {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%) rotate(25deg);
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%) rotate(25deg);
  -moz-transform: translate(-50%, -50%) rotate(25deg);
  -ms-transform: translate(-50%, -50%) rotate(25deg);
  -o-transform: translate(-50%, -50%) rotate(25deg);
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}
#card_sushi:hover img {
  top: 60%;
  transform: translate(-50%, -50%) rotate(-35deg);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}
#card_sushi .content {
  position: absolute;
  top: 58%;
  font-size: 1rem;
  color: #ffffff;
  z-index: 1000;
  transition: 0.5s ease-in-out;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}
#card_sushi .content:nth-child(4) {
  font-size: 1.2rem;
  font-weight: 600;
  top: 65%;
}
#card_sushi:hover .content {
  transition-delay: 0.5s;
}

#card_sushi .description {
  position: relative;
  top: 25%;
  text-align: center;
  color: #ffffff;
  visibility: hidden;
  padding: 0.5rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
#card_sushi:hover .description {
  visibility: visible;
  opacity: 1;
  transform: translateX(-1%);
  transition-delay: 0.3s;
  -webkit-transform: translateX(-1%);
  -moz-transform: translateX(-1%);
  -ms-transform: translateX(-1%);
  -o-transform: translateX(-1%);
}

#card_sushi #amount_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: auto;
  margin-top: 45%;
  padding: 1%;
  gap: 1rem;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
#card_sushi:hover #amount_section {
  margin-top: 70%;
  visibility: visible;
  opacity: 1;
  transform: translate(1%);
  -webkit-transform: translate(1%);
  -moz-transform: translate(1%);
  -ms-transform: translate(1%);
  -o-transform: translate(1%);
  transition-delay: 0.3s;
}
#card_sushi #amount_section h3 {
  font-size: 1rem;
}
#card_sushi:hover #amount_section {
  transform: translateX(1%);
  -webkit-transform: translateX(1%);
  -moz-transform: translateX(1%);
  -ms-transform: translateX(1%);
  -o-transform: translateX(1%);
}
#card_sushi #amount_section button {
  background-color: transparent;
  border: none;
  padding: 1%;
  cursor: pointer;
}
#card_sushi #amount_section button i {
  background-color: transparent;
  color: #fff;
}
#card_sushi #add_button {
  position: absolute;
  top: 85%;
  height: 10%;
  width: 70%;
  bottom: -1rem;
  background-image: linear-gradient(180deg, #800020, #ffc107);
  color: #fff;
  font-weight: 600;
  border-radius: 1rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
#card_sushi:hover #add_button {
  position: relative;
  top: 5%;
  transition-delay: 0.1s;
}
@media screen and (max-width: 1090px) {
  #card_section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%;
    height: 100%;
  }
  #card_section h2 {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: left;
    padding: 0.5rem;
    z-index: 1000;
  }
  #card_section #card_sushi {
    width: 25vw;
    height: 55vh;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }
  #card_section #card_sushi:hover {
    width: 25vw;
    height: 70vh;
  }
  #card_section #add_button {
    top: 80%;
    height: 12%;
  }
}
@media screen and (max-width: 720px) {
  #card_section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%;
    height: 100%;
  }
  #card_section h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
    padding: 0.5rem;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  #card_section #card_sushi {
    width: 40vw;
    height: 55vh;
    align-items: center;
    justify-content: center;
  }
  #card_section #card_sushi:hover {
    width: 40vw;
    height: 70vh;
  }
  #card_section #add_button {
    top: 80%;
    height: 12%;
  }
}
@media screen and (max-width: 480px) {
  #portada_section {
    width: 90vw;
    height: 40vh;
    top: 1rem;
    margin: auto;
  }
  #title_main {
    position: absolute;
    font-size: 1rem;
    width: 80%;
    margin: 1rem;
    top: 45%;
  }
  #portada_section picture {
    width: 90vw;
    height: 40vh;
  }
}
@media screen and (max-width: 420px) {
  #card_section h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
    padding: 0.2rem;
    font-size: 1.2rem;
    z-index: 1000;
  }
  #card_section #card_sushi {
    position: relative;
    width: 70vw;
    height: 50vh;
    margin: auto;
    left: -1rem;
    align-items: center;
    justify-content: center;
  }
  #card_section #card_sushi:hover {
    width: 70vw;
    height: 68vh;
  }
  #card_sushi #add_button {
    bottom: 20%;
  }
  #card_sushi:hover #add_button {
    top: -5%;
    height: 8%;
    margin-top: 4%;
  }
}
