@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root{
  --rojo: #800020;
  --negro: #000000;
  --blanco: #FFFFFF;
  --verde: #008000;
}

*{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

img{
 width: 100%;
 height: 100%;
}